.regular-name {
    margin: 0 0 10px 0;
}

.regular-name__field {
    border: 0;
    border-bottom: 1px solid transparent;
    transition: all 0.1s ease;

    &:focus,
    &:hover {
        border-bottom-color: #ddd;
    }
}
