.regular {
    position: relative;
    margin: 0 0 10px 0;
    // overflow: hidden;

    .panel-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.regular--free {
    background: #f6f9ed;
}

.regular--add {
    background: #fefef2;
}

.regular--select-open {
  overflow: hidden;
}
