.regular {
    margin: 0 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    border: 0;

    .panel-footer .small {
        margin-left: 15px;
    }
}

.panel.regular--free {
    background: #f6f9ed;
}

.panel.regular--add {
    background: #fefef2;
}
